---
interface Props {
  country: Country;
}

interface Country {
  name: string;
  cities: City[];
}

interface City {
  name: string;
  link: string;
}

const { country } = Astro.props;
---

<div class="flex flex-col gap-1">
  <h4 class="header_tertiary">
    {country.name}
  </h4>

  <div class="flex items-center justify-between">
    <ul class="flex flex-wrap">
      {
        country.cities.map((city, index) => (
          <li>
            <span>
              {city.link ? (
                <a href={city.link} class="link">
                  {city.name}
                </a>
              ) : (
                <span class="text-[20px]">{city.name}</span>
              )}
            </span>
            {index !== country.cities.length - 1 && (
              <span class="mr-1 text-[20px]">,</span>
            )}
          </li>
        ))
      }
    </ul>

    <div class="border-t border-dotted flex-1 min-w-24 hidden md:block"></div>

    <div class="hidden md:block">
      {country.cities.length}
    </div>
  </div>
</div>
