---
import { Image } from "astro:assets";

interface Props {
  imgSrc: ImageMetadata;
  link?: string;
  title: string;
  desc: string;
  platforms: string;
}

const { imgSrc, link = "#", title, desc, platforms } = Astro.props;
---

<div class="grid md:grid-cols-2 items-center gap-4">
  <div class="flex items-center">
    <!-- Card Image -->
    <div class="bg-gray-300 h-[60px] w-[60px] mr-4 rounded-full shrink-0">
      <Image
        class="rounded-full"
        src={imgSrc}
        alt={title}
        width={60}
        height={60}
      />
    </div>

    <!-- Card Content -->
    <div class="flex-1 flex gap-1 flex-col">
      <a href={link} class="link">
        <h4 class="text-xl">
          {title}
        </h4>
      </a>
      <p class="text">
        {desc}
      </p>
    </div>
  </div>

  <!-- Platform -->
  <div class="hidden md:block pl-4">
    <p class="font-normal text-xl text-text-secondary-color text-right">
      {platforms}
    </p>
  </div>
</div>
