---
import { MENU_ITEMS, SITE_TITLE, SOCIAL_LINKS } from "@/consts";
import MobileMenu from "./MobileMenu.astro";
import HeaderLink from "./HeaderLink.astro";
---

<header class="pt-8 md:pt-11">
  <div>
    <nav
      class="min-h-16 flex justify-between md:items-center md:grid md:grid-cols-2"
    >
      <div class="col-span-1">
        <h1 class="header_logo">
          <a href="/">{SITE_TITLE}</a>
        </h1>
        <ul class="font-normal text-xl flex items-center flex-wrap">
          {
            SOCIAL_LINKS.map((link) => (
              <li class="list-none mr-[10px]">
                <a href={link.link} class="link">
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <ul
        class="md:flex md:flex-wrap gap-x-4 hidden md:justify-end items-center font-semibold text-xl col-span-1"
      >
        {
          MENU_ITEMS.map((item) => (
            <li>
              <HeaderLink href={item.link}>{item.title}</HeaderLink>
            </li>
          ))
        }
      </ul>

      <div class="md:hidden w-1/5 shrink-0">
        <MobileMenu />
      </div>
    </nav>
  </div>
</header>
