---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Header />
  <div class="flex-1">
    <section class="pt-11">
      <h1 class="font-[700] text-[28px]">Dev</h1>

      <div class="text-[20px] mt-1">
        <p>
          Articles about software development, design, management, and related
          subjects.
        </p>
        <p class="mt-4">
          Curated collection of top-tier articles showcased on the <a
            href="/favorites"
            class="link">Favorites</a
          > page.
        </p>
        <p class="mt-4">
          Check the <a href="/tags" class="link">Tags</a> page to find something
          specific.
        </p>
      </div>
    </section>
    <section class="pt-11">
      <h2 class="font-[700] text-[28px]">Recent Posts</h2>
      <ul class="space-y-9 mt-2">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`} class="space-y-1">
                <h3 class="text-link underline font-normal text-[20px]">
                  {post.data.title}
                </h3>
                <p>{post.data.description}</p>
                <p class="date text-gray">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
  <section class="mt-11">
    <div class="flex justify-center">
      <!-- pagination -->
      <div class="flex justify-center space-x-[10px] text-[20px]">
        <a href="/blog?page=1" class="text-link underline">1</a>
        <a href="/blog?page=2" class="text-link underline">2</a>
        <a href="/blog?page=3" class="text-link underline">3</a>
        <a href="/blog?page=4" class="text-link underline">4</a>
        <a href="/blog?page=5" class="text-link underline">5</a>
        <span>...</span>

        <a href="/blog?page=1" class="text-link underline">
          <!-- {posts.length} -->
          121
        </a>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
